<table class="table mt-4">
  <div class="">
    <a href="/me/stored/courses">Courses</a>
  </div>

  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Level</th>
      <th scope="col">Created time</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each courses}}
      <tr>
        <th scope="row">{{@index}}</th>
        <td>{{this.name}}</td>
        <td>{{this.level}}</td>
        <td>{{this.createdAt}}</td>
        <td>
          <a data-id="{{this._id}}" href="#" class="btn btn-link btn-restore">Restore</a>
          <a
            data-id="{{this._id}}"
            class="btn btn-link btn-delete-course"
            data-toggle="modal"
            data-target="#exampleModal"
          >Delete</a>
        </td>
      </tr>
    {{else}}
      <tr>
        <td colspan="5" class="text-center">You don't have any course
          <a href="/courses/create">Create new course</a></td>
      </tr>
    {{/each}}
  </tbody>
</table>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        You really want to delete ?
      </div>
      <div class="modal-footer">
        <button
          id="btn-delete-course"
          type="button"
          class="btn btn-danger"
        >Delete</button>
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
        >Cancel</button>
      </div>
    </div>
  </div>
</div>

<form method="post" name="deleteForm"></form>
<form method="post" name="restoreForm"></form>

<script>
document.addEventListener('DOMContentLoaded', function () {
    let id;
    let delForm = document.forms['deleteForm'];
    let restoreForm = document.forms['restoreForm'];
    // Xử lý sự kiện mở modal xác nhận xóa
    $('#exampleModal').on('show.bs.modal', function (event) {
        const button = $(event.relatedTarget);
        id = button.data('id');
    });

    // Xử lý xóa khóa học
    $('#btn-delete-course').on('click', function () {
        delForm.action = `/courses/${id}/force?_method=DELETE`;
        delForm.submit();
    });

    // Xử lý restore bằng cách dùng event delegation
    $('.btn-restore').on('click', function (e) {
        e.preventDefault();
        const courseId = $(this).data('id')
        delForm.action = `/courses/${courseId}/restore?_method=PATCH`;
        delForm.submit();
    });
});
</script>